body {
    margin:0;
    font-family: border-box;
}

nav {
    background: black;
    color: white;
    font-size: 20px;
    /* margin: 0; */
    /* width: 100%; */
    /* position: fixed; */
}
.nav-title{
    margin: 0px 10px;
    font-size: 20px;
}
nav > div{
    display: inline-block;
}
nav > div.menu > ul{
    padding: 0;
}
nav > div.menu > ul > li{
    display: inline;
    margin: 0px 10px;
    font-size: 15px;
    color: #A3A5A7;
}

.menu > ul > li > a:hover{
    color: white;
    cursor: pointer;
}


header{
    
    background: #E9FAFF;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
    padding: 42px 25px;
}

.title{
    font-size: 72px;
}

.btn-header{
    background-color: #1F7EF2;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    text-align: center;
    font-size: 20px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
}
.btn-header:hover{
    background-color: #0060D5;

}
.pack{
    display: inline-block;
    max-width: 32%;
}

h2{
    font-size: 36px;
}

.btn-pack{
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    text-align: center;
    font-size: 15px;
    transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
}

.btn-pack:hover{
    background-color: #7A7A7A;

}

footer{
    border-top-color: #E3E3E3;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 40px;
    padding: 20px 0;
}

@media screen and (max-width: 750px){
    .header{
        padding-top:20px;
    }
    .wrapper{
        padding-top:22px;
    }
    .pack{
        display: block;
        max-width: 100%;
        margin-top: 20px;
    }
}
