*{
    margin: 0;
    box-sizing: border-box;
}
nav {
    background: #343a40;
    font-size: 20px;
    padding: 10px;
}
.nav-title{
    color: white;
    margin: 0px 10px;
}
nav > div{
    display: inline-block;
}
nav > div.menu > ul{
    padding: 0;
}
nav > div.menu > ul > li{
    display: inline;
    margin: 0px 10px;
    font-size: 15px;
    color: #A3A5A7;
}

.menu > ul > li > a:hover{
    color: white;
    cursor: pointer;
}

#header{
    background: #e9ecef;
}
.header__block{
    width: 960px;
    margin: 0 auto;
    padding: 40px 0;
}
.header__title{
    font-size: 62px;
    margin-bottom: 10px;
}
.header__btn{
    background: rgb(0, 123, 255);
    padding: 10px 15px;
    font-size: 20px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}
.header__btn:hover{
    cursor: pointer;
    background: #0069d9;
}
#content{
    width: 960px;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.col{
    width:30%;
}
.col__title{
    font-size: 32px;
    margin-bottom: 10px;
}
.col__btn{
    background: rgb(108, 117, 125);
    padding: 10px 15px;
    margin-top: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
    font-size: 16px;
}
.col__btn:hover{
    cursor: pointer;
    background: #5a6268;
}
#footer{
    width: 960px;
    margin: 0 auto;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
@media screen and (max-width: 960px){
    .header__block{
        width: 90%;
    }
    #content{
        padding: 30px 0;
        width: 90%;
    }
}

@media screen and (max-width: 740px){
    #content{
        display: block;
    }
    .col{
        width: 95%;
        margin: 20px auto;
    }
    #footer{
        width: 95%;
    }
}